my-star {

  $break-small:40rem;

  @keyframes dropin {
    0% {width:0;}
    75% {width:5.5em;}
    100% {width:5em;}
  }
  svg.star {
    width: 1.1em;
    @media screen and (min-width: $break-small) {
      padding-left: 1em;
      width: 5em;
      animation: dropin 0.2s 1 ;
    }
  }
}
