my-student-list {
  td {
    padding: 0;
    margin: 0;
    border: none;
    border-bottom: 1px solid #030303;
  }
  tr td:first-child{
    width:1%;
    white-space:nowrap;
  }
  tr td:last-child{
    width:1%;
    white-space:nowrap;
  }
}
